.container {
  width: 400px;
  background: white;
  
}
h1 {
  text-align: center;
}

.display {
  font-size: 2em;
  width: 98%;
  text-align: right;
  border-radius: 5px;
  
}
.btn {
  width: 95px;
  height: 40px;
  font-size: 1em;
  background:white;
  cursor: pointer;
  color: blue;
  font-weight: bold;
}

.btn:hover {
  background-color: rgba(14, 15, 70, 0.699);
  color: black;
}

.btn-eq {
  background-color: greenyellow
}
